<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finance.plutus.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PlutusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plutus.Splash"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.finance.plutus.mobile.ui.updateinvoice.UpdateInvoiceActivity"
            android:theme="@style/Theme.Plutus" />
        <activity
            android:name="com.finance.plutus.mobile.ui.updatetransaction.UpdateTransactionActivity"
            android:theme="@style/Theme.Plutus" />
        <activity
            android:name="com.finance.plutus.mobile.ui.updatepartner.UpdatePartnerActivity"
            android:theme="@style/Theme.Plutus" />
        <activity
            android:name="com.finance.plutus.mobile.ui.updateitem.UpdateItemActivity"
            android:theme="@style/Theme.Plutus" />
        <activity
            android:name=".ui.common.MainActivity"
            android:theme="@style/Theme.Plutus" />
        <activity android:name=".ui.common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.finance.plutus.mobile.ui.login.LoginActivity"
            android:theme="@style/Theme.Plutus" />
    </application>

</manifest>